.publications_directory_pager {
	width: 100% !important;
	text-align: center;
	margin: 15px;
}

.publications_directory_pager_item {
    padding: 10px;
    margin-left: 0px;
    margin-right: 1px;
    border-bottom: 5px solid #62c58d;
}

.publications_directory_results_container {
	width: 100% !important;
	background-color: #FFFFFF;
	padding: 10px;
	
}

.publications_directory_results_container tr {
	border-bottom: 1px solid #4b7763;
}

.publications_directory_results_container tr td {
	padding: 3px;
}

.publications_directory_results_container th {
	background-color: /* #62c58d */ #669966;
	color: #FFFFFF;
	padding: 7px;
}

.publications_directory_browsebyname_header, .publications_directory_advancedsearch_header {
	font-weight: bold;
    background-color: #d2e0d2;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 6px;
    border-radius: 5px;
    color: #739479;
}

.publications_directory_browsebyname_pagination  {
    text-align: center;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

 .publications_directory_browsebyname_pagination a{
    /* color: #477777 !important;*/
	
    color: #fdfdfd !important;
    background-color: #4b7763;
    padding: 6px;
    margin-right: 5px;
    border-radius: 5px;
}

select {
	height: 28px;
}

#publications_directory_search_form {
	margin-top: 10px;
	text-align: center;
}

#publications_directory_search_form input[type="submit"], #publications_directory_search_form input[type="reset"], #publications_directory_search_form input[type="button"] {
	border-radius: 5px;
    margin-left: 5px;
    background-color: #4b7763;
    color: #FFFFFF;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border: 0px solid;
}

#publications_directory_search_form select {
	margin-right: 5px;
}

#publications_directory_search_items table {
	    margin-top: 5px;
}

.publications_directory_results_outercontainer {
	padding: 20px !important;
}

.publications_directory_results_imagetitle_container {
	display: table;
	margin-top: 5px;
	margin-bottom: 4px;
}

.publications_directory_results_docimg {
    display: table-cell;
}

.publications_directory_results_docimg img{
    width: 40px;
	margin-right: 10px;
	margin-left: -5px;
}

.publications_directory_results_title {
	display: table-cell;
    width: auto;
    vertical-align: middle;
    font-weight: bold;
    text-transform: uppercase;
}

.publications_directory_results_series_name {
	display: inline-block;
}

.publications_directory_results_year {
	display: inline-block;
	margin-left: 4px;
}

.search_by_year_container {
	margin-top: 5px;
	margin-bottom: 5px;
}

.search_by_year_container input {
	width: 60px;
}

.sort_by_container {
	margin-bottom: 10px;
}


